@page
@model Parking.Mqtt.Api.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MqttServerConfiguration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MqttServerConfiguration.Id" />
            <div class="form-group">
                <label asp-for="MqttServerConfiguration.Name" class="control-label"></label>
                <input asp-for="MqttServerConfiguration.Name" class="form-control" />
                <span asp-validation-for="MqttServerConfiguration.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MqttServerConfiguration.TcpServer" class="control-label"></label>
                <input asp-for="MqttServerConfiguration.TcpServer" class="form-control" />
                <span asp-validation-for="MqttServerConfiguration.TcpServer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MqttServerConfiguration.Port" class="control-label"></label>
                <input asp-for="MqttServerConfiguration.Port" class="form-control" />
                <span asp-validation-for="MqttServerConfiguration.Port" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MqttServerConfiguration.Username" class="control-label"></label>
                <input asp-for="MqttServerConfiguration.Username" class="form-control" />
                <span asp-validation-for="MqttServerConfiguration.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MqttServerConfiguration.Password" class="control-label"></label>
                <input asp-for="MqttServerConfiguration.Password" class="form-control" />
                <span asp-validation-for="MqttServerConfiguration.Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MqttServerConfiguration.UseTls" /> @Html.DisplayNameFor(model => model.MqttServerConfiguration.UseTls)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MqttServerConfiguration.CleanSession" /> @Html.DisplayNameFor(model => model.MqttServerConfiguration.CleanSession)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MqttServerConfiguration.KeepAlive" class="control-label"></label>
                <input asp-for="MqttServerConfiguration.KeepAlive" class="form-control" />
                <span asp-validation-for="MqttServerConfiguration.KeepAlive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
